@{
    ViewData["Title"] = "Başvuru Alındı";
}
<div class="alert alert-info mt-4">
    <h4>Başvurunuz alınmıştır.</h4>
    <p>Yetkili başvurunuz yönetici onayına gönderildi. Onay sonrası hesabınız aktifleşecektir.</p>
</div> 